{{define "feed-item"}}
<article class="feed-item">
    <div class="feed-header">
        <div class="feed-user">
            <div class="user-avatar">
                <img src="{{.User.Avatar}}" alt="{{.User.Handle}}" />
            </div>
            <a class="user-handle-link" href="/profile/{{.User.Handle}}"><strong>{{.User.Handle}}</strong></a>
            <span class="feed-time">{{.TimeAgo}}</span>
        </div>
        <div class="feed-circle">in {{.Circle}}</div>
    </div>
    <div class="feed-content">
        {{if .Image}}
        <div class="feed-image">
            <img src="{{.Image.URL}}" alt="{{.Image.Alt}}" />
        </div>
        {{end}}
        <p>{{.Content}}</p>
    </div>
    <div class="feed-actions">
        <button class="feed-action"  >Reply</button>
        <button class="feed-action"  >Share</button>
        {{if .CanBuy}}
        <button class="feed-action" >Buy Now</button>
        {{else if eq .Circle "The Crop Circle"}}
        <button class="feed-action" >RSVP</button>
        {{else if eq .Circle "DIY Electronics"}}
        <button class="feed-action" >Join Workshop</button>
        {{end}}
        <button class="feed-action">
            <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" viewBox="0 0 256 256"><path d="M128,96a32,32,0,1,0,32,32A32,32,0,0,0,128,96Zm0,48a16,16,0,1,1,16-16A16,16,0,0,1,128,144Zm0-64A32,32,0,1,0,96,48,32,32,0,0,0,128,80Zm0-48a16,16,0,1,1-16,16A16,16,0,0,1,128,32Zm0,144a32,32,0,1,0,32,32A32,32,0,0,0,128,176Zm0,48a16,16,0,1,1,16-16A16,16,0,0,1,128,224Z"></path></svg>
        </button>
    </div>
</article>
{{end}}