{{define "circles-icon"}}
<svg width="2rem" height="2rem" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="11" cy="22" r="6" stroke="currentColor"/>
    <circle cx="11" cy="8" r="6" stroke="currentColor"/>
    <circle cx="19" cy="22" r="6" stroke="currentColor"/>
    <circle cx="15" cy="23" r="6" stroke="currentColor"/>
    <circle cx="22" cy="19" r="6" transform="rotate(-90 22 19)" stroke="currentColor"/>
    <ellipse cx="15" cy="15" rx="2" ry="2" transform="rotate(-90 15 15)" stroke="currentColor"/>
    <circle cx="22" cy="11" r="6" transform="rotate(-90 22 11)" stroke="currentColor"/>
    <circle cx="23" cy="15" r="6" transform="rotate(-90 23 15)" stroke="currentColor"/>
    <circle cx="8" cy="11" r="6" transform="rotate(90 8 11)" stroke="currentColor"/>
    <circle cx="8" cy="19" r="6" transform="rotate(90 8 19)" stroke="currentColor"/>
    <circle cx="7" cy="15" r="6" transform="rotate(90 7 15)" stroke="currentColor"/>
    <circle cx="15" cy="7" r="6" stroke="currentColor"/>
    <circle cx="19" cy="8" r="6" stroke="currentColor"/>
</svg>
{{end}}

{{define "ripples-icon"}}
<svg width="2rem" height="2rem" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg" class="ripple-icon-animated">
    <circle cx="14" cy="14" r="2" fill="currentColor" class="ripple-center"/>
    <circle cx="14" cy="14" r="5" stroke="currentColor" stroke-opacity="0.6" stroke-width="2" class="ripple-inner"/>
    <circle cx="14" cy="14" r="9" stroke="currentColor" stroke-opacity="0.3" stroke-width="2" class="ripple-middle"/>
    <circle cx="14" cy="14" r="13" stroke="currentColor" stroke-opacity="0.08" stroke-width="2" class="ripple-outer"/>
</svg>
{{end}}